<!DOCTYPE html>
<html ng-app="RegistroApp" ng-controller="mainController">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Registro</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="panel-heading">
        <nav class="collapse navbar-collapse" ng-controller="navController as navc">
            <nav class="nav navbar-nav navbar-header h2">{{appFullName}}</nav>
            <div class="pull-right">
                <ul class="nav navbar-nav" ng-repeat="menu in navc.getLocationUpdatedFor(userInfo) | isvisible:'visible'">
                    <li ng-class="{ active: navc.isActive(menu.location)}"><a href="{{menu.location}}">{{menu.name}}</a></li>
                </ul>
            </div>
        </nav>
        <!--
            <login-bar class="panel">
            <div class="loggedIn" ng-show="userInfo.isLoggedIn()">
                User logged in: {{utenteCorrente}} <br /> on <b>{{dateLogin}} <i>{{timeLogin}}</i></b>
            </div>
        </login-bar>
        -->
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2016 - WebApplication</p>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.3.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-resource/angular-resource.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <!--script src="~/js/custom/ui-bootstrap-tpls-0.14.2.min.js"></script-->

    <script src="~/js/common/utils.js"></script>
    <script src="~/js/services/localDataService.js"></script>
    <script src="~/js/controllers/mainControllers.js"></script>
    <script src="~/js/mainApp.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
